DATA/.ipynb_checkpoints/reviews-checkpoint.csv filter=lfs diff=lfs merge=lfs -text
Model/gb_model.pkl filter=lfs diff=lfs merge=lfs -text
[[:space:]]DATA/recipes.csv[[:space:]] filter=lfs diff=lfs merge=lfs -text
